<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sureal.dao.CourseExamBaseResultMapper">
    <select id="findAllCourseExam" resultType="com.sureal.pojo.CourseExamBaseResult">
        select sc.course_name as courseName,
                   sce.quest,
                   sce.select_a      as A,
                   sce.select_b      as B,
                   sce.select_c      as C,
                   sce.select_d      as D,
                   sce.answer,
                   svcu.correct_rate as correct
            from sur_course_exam sce,
                 sur_vr_course_used svcu,
                 sur_course sc
            where svcu.course_id = sce.course_id_fk
                  and sce.course_id_fk=sc.id
    </select>
    <select id="findCourseExamByCourseId" resultType="com.sureal.pojo.CourseExamBaseResult">
        select sce.course_id_fk  as id,
                   sc.course_name    as courseName,
                   sce.quest         as question,
                   sce.select_a      as A,
                   sce.select_b      as B,
                   sce.select_c      as C,
                   sce.select_d      as D,
                   sce.answer,
                   svcu.correct_rate as correct,
                   svcu.create_time  as times
            from sur_course_exam sce,
                 sur_vr_course_used svcu,
                 sur_course sc
            where svcu.course_id = sce.course_id_fk
              and sc.id = sce.course_id_fk
              and svcu.course_id = #{courseId}
            group by svcu.correct_rate,svcu.create_time desc
            order by svcu.create_time desc
    </select>
</mapper>